* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Josefin Sans', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}
.header_menu::before {
  content: '';
  position: absolute;
  left: 248px;
  top: 0px;
  background-color: #232426;
  max-width: 712px;
  width: 100%;
  max-height: 780px;
  height: 100%;
}
.header_menu {
  margin-top: 40px;
  margin-left: 200px;
}
.header_menu-item {
  position: relative;
  padding-right: 40px;
  color: #ffffff;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
}
.header_logo {
  position: absolute;
  z-index: 2;
  margin: 0;
}
.header_logo-img {
  margin-top: 108px;
  margin-left: 520px;
}
.header_logo-title {
  display: block;
  position: absolute;
  width: 439.36px;
  height: 119.74px;
  left: 500px;
  top: 475px;
  color: #000000;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
}

element.style {
  color: #fff;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-0.189648em) rotate(27.2894deg);
  transform-origin: center -8.6em;
}
.header_name {
  position: absolute;
  width: 280px;
  height: 82px;
  left: 1224px;
  top: 267px;
  font-weight: 300;
  font-size: 90px;
  line-height: 90px;
  text-align: center;
}

.header_contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 530px;
  left: 187px;
}
.header_contacts-item {
  margin-bottom: 25px;
}
.header_contacts-title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 10px;
}
.header_contacts-link {
  padding-right: 25px;
  flex-direction: row;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #9f9f9f;
}
.header_contacts-vk::before {
  font-family: 'icomoon';
  content: '\f189';
}
.header_contacts-tg::before {
  font-family: 'icomoon';
  content: '\f2c6';
  font-size: 20px;
}

.about {
  position: absolute;
  left: 177px;
  top: 760px;
  color: #fff;
  display: block;
  padding: 80px 240px 195px;
}
.about::before {
  content: '';
  z-index: -1;
  position: absolute;
  width: 1440px;
  height: 456px;
  left: 71px;
  top: 0;
  background: #232426;
}
.about_title {
  position: relative;
  font-weight: 300;
  font-size: 80px;
  line-height: 80px;
  margin-bottom: 50px;
}
.about_title::after {
  content: '';
  z-index: -1;
  position: absolute;
  width: 440px;
  height: 27px;
  left: 41px;
  top: 40px;
  background-color: #474747;
}
.about_text {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 25px;
}
.abou_decoration-text {
  color: #9f9f9f;
}
.skills {
  position: relative;
  width: 831px;
  height: 711px;
  left: 418px;
  top: 997px;
}
.skills_title {
  font-weight: 300;
  font-size: 80px;
  line-height: 80px;
  color: #000000;
  margin-bottom: 30px;
}
.skills_title::after {
  content: '';
  z-index: -1;
  position: absolute;
  width: 280px;
  height: 27px;
  left: 41px;
  top: 45px;
  background-color: #e7e7e7;
}
.skills_item {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 60px;
}
.skills_text-inner {
  margin-top: 140px;
  max-width: 744px;
  background-color: #e7e7e7;
  padding: 15px;
}
.skills_text {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 15px;
}
.skills::before {
  content: '';
  z-index: -1;
  position: absolute;
  width: 445px;
  height: 759px;
  left: 825px;
  top: -27px;
  background: #232426;
}
.skills .html::after {
  content: '';
  position: absolute;
  width: 500px;
  height: 25px;
  background: #e7e7e7;
  border-radius: 32px;
}
.skills .html::before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 397px;
  height: 25px;
  background: #000;
  border-radius: 32px;
  margin-left: 241px;
}
.skills .css::before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 258px;
  height: 25px;
  background: #000;
  border-radius: 32px;
  margin-left: 241px;
}
.skills .js::before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 130px;
  height: 25px;
  background: #000;
  border-radius: 32px;
  margin-left: 241px;
}
.skills .git::before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 390px;
  height: 25px;
  background: #000;
  border-radius: 32px;
  margin-left: 241px;
}
.skills .learn::before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 500px;
  height: 25px;
  background: #000;
  border-radius: 32px;
  margin-left: 241px;
}
.skills .html::after {
  margin-left: 154px;
}
.skills .css::after {
  margin-left: 186px;
  content: '';
  position: absolute;
  width: 500px;
  height: 25px;
  background: #e7e7e7;
  border-radius: 32px;
}
.skills .js::after {
  margin-left: 211px;
  content: '';
  position: absolute;
  width: 500px;
  height: 25px;
  background: #e7e7e7;
  border-radius: 32px;
}
.skills .git::after {
  margin-left: 89px;
  content: '';
  position: absolute;
  width: 500px;
  height: 25px;
  background: #e7e7e7;
  border-radius: 32px;
}
.skills .learn::after {
  margin-left: 42px;
  content: '';
  position: absolute;
  width: 500px;
  height: 25px;
  background: #e7e7e7;
  border-radius: 32px;
}
.code::before {
  content: '';
  z-index: -1;
  position: absolute;
  width: 1440px;
  height: 456px;
  left: 248px;
  top: 1975px;
  background: #232426;
}
.code_title {
  position: absolute;
  width: 520px;
  height: 60px;
  left: 418px;
  top: 2117px;
  font-weight: 300;
  font-size: 60px;
  line-height: 60px;
  color: #fff;
}
.code_text {
  position: absolute;
  width: 700px;
  height: 113px;
  left: 418px;
  top: 2207px;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
}
.code_text_blue {
  color: #0086b3;
}
.code_text_red {
  color: #dd1144;
}
.english_title {
  position: absolute;
  height: 60px;
  left: 418px;
  top: 2480px;
  font-weight: 300;
  font-size: 60px;
  line-height: 60px;
  color: #000000;
  margin-bottom: 40px;
}
.english_img {
  margin-bottom: 15px;
  position: relative;
  left: 18%;
  top: 1600px;
  filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.25));
}
.footer_contacts {
  position: relative;
  top: 1650px;
  left: 800px;
}
.footer_contacts::before {
  content: '';
  z-index: -1;
  position: absolute;
  width: 1440px;
  height: 180px;
  top: -50px;
  left: -550px;
  background: #232426;
  padding: 30px 0px;
}
